<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Your Pet</h1>
	<h2> <%=pet.name %> </h2>
	<h2> <%= pet.species %> </h2>
	<h2> <%= pet.age %> </h2>
	<img src=" <%= pet.img %>">

	<div>
		<a href="/pets">back</a>
	</div>

</body>
</html>